$color-white: #fff;
$color-black: #131313;
$color-grey: #aaa;

// $color-lightgrey: #aaa;
// $color-blue: #348bb5;
// $color-yellow: #f6ba31;
// $color-red: #fe4a49;
// $color-navy: #347682;
// $color-darknavy: #255466;

// $font-head: "Montserrat", sans-serif;
$font-head: "Source Sans Pro", sans-serif;
$font-body: "Source Sans Pro", sans-serif;
