/*
!/.env
!/.gitignore
!/readme.md
!/gulpfile.js
!/package-lock.json
!/package.json
!/src
!/webpack.config.js
!/wp-content
/wp-content/*
!/wp-content/mu-plugins
/wp-content/mu-plugins/mu-default/vendor
!/wp-content/themes/genesis
!/wp-content/themes/genesis-jaspery